.Filters-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 12px;
}

.Filters-spacing {
    margin-right: 12px
}

.Filters-repeat {
    cursor: pointer;
    margin-top: 6px;
    width: 24px;
    height: 24px;
}



